@import url('https://fonts.googleapis.com/css2?family=Poppins');
@import "tools/variable.css";
@import "tools/reboot.css";
@import "tools/utility.css";
@import "tools/media-query.css";

/* ----------------------------------------------- */

/* Nav Start */
header{
    box-shadow: 0px 1px 6px #000;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
    align-items: center;
}
.nav-left{
    align-items: center;
}
.header-list{
    margin-left: 1.5rem;
}
.header-list ul li{
    list-style-type: none;
    margin: 0 0.75rem;
}
.header-list ul li a{
    color: var(--disable-color);
    font-weight: bold;
    text-decoration: none;
}
.header-list ul li a:hover{
    color: var(--primary-color);
}
/* nav End */

/* ----------------------------------------------- */

/* Hero Start */

/* Hero End */

/* ----------------------------------------------- */

/* Main Content Start */
.heading {
    padding-top: 40px;
    padding-bottom: 40px;
}

.heading p {
    float: left;
}

.container-1 {
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.container-1 input#search {
    width: 200px;

}

.heading a {
    float: right;
}

.main-item {
    float: left;
    margin-right: 50px;
}

.box1 {
    width: 100px;
    height: 100px;
    background-color: aquamarine;
}

.box2 {
    width: 100px;
    height: 100px;
    background-color: aquamarine;
}

.box3 {
    width: 100px;
    height: 100px;
    background-color: aquamarine;
}

.box4 {
    width: 100px;
    height: 100px;
    background-color: aquamarine;
}

/* Main Content End */

/* ----------------------------------------------- */

/* Footer Start */


/* Footer End */

/* ----------------------------------------------- */
